In [1]:
import numpy as np
import pandas as pd

## Load Data

In [2]:
url = 'https://www.cdc.gov/workplacehealthpromotion/data-surveillance/docs/whpps_120717.csv'
cdc = pd.read_csv(url, sep='~')
cdc

/tmp/ipykernel_32/4171161005.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  cdc = pd.read_csv(url, sep='~')

,OC1,OC3,HI1,HI2,HI3,HI4,HRA1,HRA1A,HRA1B,HRA1E,...,WL3_05,E1_09,Suppquex,Id,Region,CDC_Region,Industry,Size,Varstrata,"Finalwt_worksite,,,,"
0,7,3.0,2.0,1.0,2.0,1.0,1.0,3.0,4.0,2.0,...,PTO,NaN,2.0,217.0,1.0,2.0,7.0,7.0,0.0,"47.793940929,,,,"
1,2,3.0,2.0,3.0,1.0,1.0,1.0,3.0,3.0,1.0,...,NaN,NaN,1.0,326.0,3.0,7.0,7.0,6.0,0.0,"47.793940929,,,,"
2,7,3.0,1.0,3.0,1.0,1.0,1.0,3.0,97.0,2.0,...,NaN,NaN,1.0,399.0,4.0,8.0,7.0,8.0,0.0,"47.793940929,,,,"
3,1,2.0,1.0,2.0,1.0,1.0,97.0,96.0,96.0,96.0,...,NaN,NaN,1.0,475.0,5.0,9.0,7.0,4.0,0.0,"47.793940929,,,,"
4,2,3.0,1.0,3.0,1.0,1.0,1.0,3.0,3.0,2.0,...,NaN,NaN,1.0,489.0,2.0,4.0,7.0,4.0,0.0,"47.793940929,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2838,1,4.0,1.0,3.0,1.0,1.0,2.0,96.0,96.0,96.0,...,NaN,NaN,2.0,29419.0,5.0,10.0,6.0,5.0,549.0,"421.28310196,,,,"
2839,7,4.0,2.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,...,NaN,NaN,1.0,53041.0,5.0,10.0,6.0,5.0,549.0,"421.28310196,,,,"
2840,2,4.0,2.0,3.0,1.0,1.0,1.0,3.0,2.0,2.0,...,NaN,NaN,1.0,7496.0,5.0,10.0,6.0,8.0,552.0,"62.86238594,,,,"
2841,1,4.0,2.0,3.0,1.0,1.0,1.0,2.0,97.0,2.0,...,NaN,NaN,2.0,18994.0,5.0,10.0,6.0,8.0,552.0,"76.460186994,,,,"
2842,2,4.0,2.0,3.0,1.0,1.0,1.0,1.0,3.0,2.0,...,NaN,Nothing is needed,2.0,27704.0,5.0,10.0,6.0,8.0,552.0,"62.86238594,,,,"

In [3]:
col_to_keep = ['Size', 'HS15_2', 'HS14_2']
cdc_clean = cdc[col_to_keep]
cdc_clean

      Size  HS15_2  HS14_2
0      7.0     1.0    97.0
1      6.0     1.0     1.0
2      8.0     1.0     1.0
3      4.0     9.0     9.0
4      4.0     1.0     1.0
...    ...     ...     ...
2838   5.0    99.0    99.0
2839   5.0    96.0    97.0
2840   8.0     9.0     9.0
2841   8.0    99.0    99.0
2842   8.0     1.0     1.0

[2843 rows x 3 columns]

In [5]:
cdc_clean = cdc_clean.rename({'Size':'size'
                              ,'HS15_2':'breastcancer'
                              ,'HS14_2':'obesity' 
                              }, axis = 1)
cdc_clean

      size  breastcancer  obesity
0      7.0           1.0     97.0
1      6.0           1.0      1.0
2      8.0           1.0      1.0
3      4.0           9.0      9.0
4      4.0           1.0      1.0
...    ...           ...      ...
2838   5.0          99.0     99.0
2839   5.0          96.0     97.0
2840   8.0           9.0      9.0
2841   8.0          99.0     99.0
2842   8.0           1.0      1.0

[2843 rows x 3 columns]

In [6]:
cdc_clean['size'].value_counts()

1.0    1175
2.0     655
3.0     365
4.0     263
8.0     160
5.0     130
6.0      66
7.0      28
Name: size, dtype: int64

In [9]:
size_replace = {1.0,'10-24', 
                2.0,'25-49', 
                3.0,'50-99', 
                4.0,'100-249', 
                5.0,'250-499', 
                6.0, '500-749',
                7.0, '750-999',
                8.0, '1,000+'}
cdc_clean['size'] = cdc_clean['size'].replace(size_replace)
cdc_clean

      size  breastcancer  obesity
0      7.0           1.0     97.0
1      6.0           1.0      1.0
2      8.0           1.0      1.0
3      4.0           9.0      9.0
4      4.0           1.0      1.0
...    ...           ...      ...
2838   5.0          99.0     99.0
2839   5.0          96.0     97.0
2840   8.0           9.0      9.0
2841   8.0          99.0     99.0
2842   8.0           1.0      1.0

[2843 rows x 3 columns]

In [10]:
bc_replace = {1 : 'Yes', 
                2: 'No',
                5 : 'No',
                9 : 'No', 
                96 : np.nan,
                97 : np.nan,
                99 : np.nan}
cdc_clean['breastcancer'] = cdc_clean['breastcancer'].replace(bc_replace)
cdc_clean

      size breastcancer  obesity
0      7.0          Yes     97.0
1      6.0          Yes      1.0
2      8.0          Yes      1.0
3      4.0           No      9.0
4      4.0          Yes      1.0
...    ...          ...      ...
2838   5.0          NaN     99.0
2839   5.0          NaN     97.0
2840   8.0           No      9.0
2841   8.0          NaN     99.0
2842   8.0          Yes      1.0

[2843 rows x 3 columns]

In [11]:
size_replace = {1.0:'10-24',
               2.0:'25-49',
               3.0:'50-99',
               4.0:'100-249',
               5.0:'250-499',
               6.0:'500-749',
               7.0:'750-999',
               8.0:'1,000+'}

cdc_clean['size'] = cdc_clean['size'].replace(size_replace)


department_replace = {'1':'Human Resources and/or Benefits', 
                      '2':'Health Promotion/Fitness/Wellness',
                      '3':'Safety',
                      '4':'Medical', 
                      '5':'PR/Marketing', 
                      '6':'Finance',
                      '7':'Other',
                      '97':np.nan,
                      '99':np.nan}
cdc_clean['department'] = cdc_clean['department'].astype('str').replace(department_replace)


vendfood_replace = {1.0: 'Yes',
                   2.0: 'No',
                   5.0: 'No',
                   96.0: np.nan,
                   97.0: np.nan,
                   98.0: np.nan,
                   99.0: np.nan}
cdc_clean['vendfood'] = cdc_clean['vendfood'].replace(vendfood_replace)


bc_replace = {1 : 'Yes',
                2: 'No',
                5 : 'No',
                9 : 'No',
                96 : np.nan,
                97 : np.nan,
                99 : np.nan}
cdc_clean['breastcancer'] = cdc_clean['breastcancer'].replace(bc_replace)



physact_replace = {1:'info',
               2:'Skillbuilding',
               3:'both',
               96:np.nan,
               97:np.nan,
               98:np.nan,
               99:np.nan}
cdc_clean['physact']=cdc_clean['physact'].replace(physact_replace) # The idea of replace is


sleep_replace = {1:'Yes',
                2:'No',
                5:'No',
                96:np.nan,
                97:np.nan,
                98:np.nan,
                99:np.nan}
cdc_clean['sleep'] = cdc_clean['sleep'].replace(sleep_replace)


physprograms_replace = {1.0:'Yes', 
                        2.0:'No', 
                        5.0:'No', 
                        99.0:np.nan, 
                        96.0:np.nan, 
                        97.0:np.nan, 
                        98.0:np.nan}
cdc_clean['physprogram'] = cdc_clean['physprogram'].replace(physprograms_replace)


cdc_clean

SyntaxError: invalid non-printable character U+200B (2807411840.py, line 25)

In [12]:
percent_replace = {997: np.nan,
                  998: np.nan,
                  999: np.nan}
cdc_clean['department'].value_counts()

KeyError: 'department'

In [ ]:
cdc_clean.group_by('department').size()

In [ ]:
cdc_clean.group_by('size').agg({'percent_female': 'mean'})