In [6]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
nba = pd.read_csv('https://raw.githubusercontent.com/jkropko/contrans/main/examples/ASA%20All%20NBA%20Raw%20Data.csv')
nba.columns

Index(['game_id', 'game_date', 'OT', 'H_A', 'Team_Abbrev', 'Team_Score',
       'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct',
       'Team_ft_rate', 'Team_off_rtg', 'Inactives', 'Opponent_Abbrev',
       'Opponent_Score', 'Opponent_pace', 'Opponent_efg_pct',
       'Opponent_tov_pct', 'Opponent_orb_pct', 'Opponent_ft_rate',
       'Opponent_off_rtg', 'player', 'player_id', 'starter', 'mp', 'fg', 'fga',
       'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'plus_minus',
       'did_not_play', 'is_inactive', 'ts_pct', 'efg_pct', 'fg3a_per_fga_pct',
       'fta_per_fga_pct', 'orb_pct', 'drb_pct', 'trb_pct', 'ast_pct',
       'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'off_rtg', 'def_rtg', 'bpm',
       'season', 'minutes', 'double_double', 'triple_double', 'DKP', 'FDP',
       'SDP', 'DKP_per_minute', 'FDP_per_minute', 'SDP_per_minute',
       'pf_per_minute', 'ts', 'last_60_minutes_per_game_starting',
       'last_60_minutes_per_game_bench', 'PG%', 'SG%', 'SF%', 'PF%', 'C%',
       'active_position_minutes'],
      dtype='object')

In [5]:
nba = nba[['game_id', 'game_date', 'OT', 'H_A', 'Team_Abbrev', 'Team_Score',
       'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct',
       'Team_ft_rate', 'Team_off_rtg', 'Inactives', 'Opponent_Abbrev',
       'Opponent_Score', 'Opponent_pace', 'Opponent_efg_pct',
       'Opponent_tov_pct', 'Opponent_orb_pct', 'Opponent_ft_rate',
       'Opponent_off_rtg', 'player', 'player_id', 'starter', 'mp', 'fg', 'fga',
       'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'plus_minus',
       'did_not_play', 'is_inactive',]]
nba

,game_id,game_date,OT,H_A,Team_Abbrev,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_orb_pct,...,trb,ast,stl,blk,tov,pf,pts,plus_minus,did_not_play,is_inactive
0,202204100BRK,2022-04-10,0,A,IND,126,103.9,0.543,5.9,20.8,...,4,10,2,0,1,0,17,-9,0,0
1,202204100BRK,2022-04-10,0,A,IND,126,103.9,0.543,5.9,20.8,...,3,6,3,0,2,3,21,0,0,0
2,202204100BRK,2022-04-10,0,A,IND,126,103.9,0.543,5.9,20.8,...,8,3,1,0,0,5,28,-9,0,0
3,202204100BRK,2022-04-10,0,A,IND,126,103.9,0.543,5.9,20.8,...,3,0,2,1,2,5,7,3,0,0
4,202204100BRK,2022-04-10,0,A,IND,126,103.9,0.543,5.9,20.8,...,3,5,3,0,0,3,14,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31603,202201130NOP,2022-01-13,0,A,LAC,89,97.0,0.444,14.3,10.2,...,3,0,0,0,2,2,3,-4,0,0
31604,202201150SAS,2022-01-15,0,A,LAC,94,92.7,0.440,11.9,35.0,...,0,0,0,0,0,0,0,0,1,0
31605,202112220SAC,2021-12-22,0,A,LAC,105,95.5,0.555,11.9,15.4,...,0,1,0,0,0,0,0,1,0,0
31606,202112260LAC,2021-12-26,0,H,LAC,100,99.8,0.512,13.0,17.4,...,0,0,0,0,0,0,0,0,1,0
31607,202112270LAC,2021-12-27,0,H,LAC,108,99.5,0.454,9.2,29.8,...,0,0,0,0,0,0,0,0,1,1

In [4]:
pd.set_option('display.max_rows', 42)
pd.set_option('display.max_colums', 42)
nba.head(3).T

OptionError: No such keys(s): 'display.max_colums'

## Second Normal Form
Every non-prime column must depend on the ENTIRE primary key (gameid + playerid) and not just part of the primary key (not just the playerid or gameid)

In [ ]:
nba['game_player_id']=nba['game_id']+nba['player_id']

repeating groups? No

In [ ]:
nba.head(3).T

## Third Normal Form
Need all of the dependecies of a second normal form

Calculated column:
-fg_pct
-fg
-fg3_pct
We'll delete these

Transitive Dependencies: 
-some columns depend depend on player
-some columns depend on game
-some columns depend on team
-some columns depend on team+game
Each of these will get a seperate table!
#### Among the non-primes we can't have any dependencies

In [ ]:
nba = nba.drop('fg_pct','fg','fg3_pc')

In [15]:
nba_team_game = nba[['Team_Abbrev', 'Opponent_Abbrev', 'game_id', 'H_A', 
                     'Team_Score', 'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 
                     'Team_orb_pct','Team_ft_rate', 'Team_off_rtg',]]
nba_team_game=nba_team_game.drop_duplicates()
nba_team_game.head(20)

,Team_Abbrev,Opponent_Abbrev,game_id,H_A,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_orb_pct,Team_ft_rate,Team_off_rtg
0,IND,BRK,202204100BRK,A,126,103.9,0.543,5.9,20.8,0.125,121.3
12,BRK,IND,202204100BRK,H,134,103.9,0.691,17.9,29.6,0.272,129.0
25,WAS,CHO,202204100CHO,A,108,97.7,0.489,8.7,31.5,0.170,110.5
37,CHO,WAS,202204100CHO,H,124,97.7,0.640,15.2,29.7,0.112,126.9
52,MIL,CLE,202204100CLE,A,115,101.9,0.511,10.5,17.4,0.284,112.9
63,CLE,MIL,202204100CLE,H,133,101.9,0.644,9.0,23.3,0.128,130.5
77,SAS,DAL,202204100DAL,A,120,98.4,0.545,7.5,17.5,0.258,121.9
90,DAL,SAS,202204100DAL,H,130,98.4,0.659,14.4,26.3,0.212,132.1
103,LAL,DEN,202204100DEN,A,146,102.7,0.553,10.2,27.7,0.447,128.7
115,DEN,LAL,202204100DEN,H,141,102.7,0.565,10.8,22.9,0.280,124.3
126,ATL,HOU,202204100HOU,A,130,94.6,0.638,11.0,31.7,0.218,137.4
140,HOU,ATL,202204100HOU,H,114,94.6,0.556,4.9,14.0,0.169,120.5
151,OKC,LAC,202204100LAC,A,88,96.8,0.423,7.3,21.1,0.051,90.9
162,LAC,OKC,202204100LAC,H,138,96.8,0.649,8.0,30.0,0.124,142.5
173,BOS,MEM,202204100MEM,A,139,102.1,0.636,12.5,35.0,0.131,136.2
187,MEM,BOS,202204100MEM,H,110,102.1,0.456,8.1,31.1,0.167,107.8
198,CHI,MIN,202204100MIN,A,124,101.2,0.590,17.7,41.0,0.313,122.6
209,MIN,CHI,202204100MIN,H,120,101.2,0.566,11.4,22.0,0.187,118.6
224,GSW,NOP,202204100NOP,A,128,94.6,0.722,16.4,22.6,0.136,135.3
235,NOP,GSW,202204100NOP,H,107,94.6,0.495,9.5,34.6,0.091,113.1

In [20]:
nba_game = nba[['game_id', 'game_date','OT']]
nba_game=nba_game.drop_duplicates()
nba_game.head(10)

          game_id   game_date  OT
0    202204100BRK  2022-04-10   0
25   202204100CHO  2022-04-10   0
52   202204100CLE  2022-04-10   0
77   202204100DAL  2022-04-10   0
103  202204100DEN  2022-04-10   1
126  202204100HOU  2022-04-10   0
151  202204100LAC  2022-04-10   0
173  202204100MEM  2022-04-10   0
198  202204100MIN  2022-04-10   0
224  202204100NOP  2022-04-10   0

In [25]:
nba_player = nba[['player', 'player_id']]
nba_player = nba_player.drop_duplicates()
nba_player

                  player  player_id
0      Tyrese Haliburton  halibty01
1            Buddy Hield  hieldbu01
2         Oshae Brissett  brissos01
3         Isaiah Jackson  jacksis01
4         T.J. McConnell  mccontj01
...                  ...        ...
31515     Marcus Garrett  garrema01
31535     Mario Chalmers  chalmma01
31538        Aric Holman  holmaar01
31540         Jay Scrubb  scrubja01
31590      Jason Preston  prestja01

[621 rows x 2 columns]

In [30]:
nba_player_game = nba.drop(['player', 'player_id','game_date','OT', 'Team_Abbrev', 
                            'Opponent_Abbrev', 'H_A', 'Team_Score', 'Team_pace', 
                            'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct','Team_ft_rate',
                            'Team_off_rtg'], axis=1)
nba_player_game

,game_id,Inactives,Opponent_Score,Opponent_pace,Opponent_efg_pct,Opponent_tov_pct,Opponent_orb_pct,Opponent_ft_rate,Opponent_off_rtg,starter,...,trb,ast,stl,blk,tov,pf,pts,plus_minus,did_not_play,is_inactive
0,202204100BRK,"Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...",134,103.9,0.691,17.9,29.6,0.272,129.0,1,...,4,10,2,0,1,0,17,-9,0,0
1,202204100BRK,"Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...",134,103.9,0.691,17.9,29.6,0.272,129.0,1,...,3,6,3,0,2,3,21,0,0,0
2,202204100BRK,"Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...",134,103.9,0.691,17.9,29.6,0.272,129.0,1,...,8,3,1,0,0,5,28,-9,0,0
3,202204100BRK,"Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...",134,103.9,0.691,17.9,29.6,0.272,129.0,1,...,3,0,2,1,2,5,7,3,0,0
4,202204100BRK,"Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...",134,103.9,0.691,17.9,29.6,0.272,129.0,1,...,3,5,3,0,0,3,14,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31603,202201130NOP,"Paul George, Isaiah Hartenstein, Keon Johnson,...",113,97.0,0.515,5.5,24.1,0.134,116.5,0,...,3,0,0,0,2,2,3,-4,0,0
31604,202201150SAS,"Paul George, Keon Johnson, Luke Kennard, Kawhi...",101,92.7,0.476,12.9,31.3,0.265,109.0,0,...,0,0,0,0,0,0,0,0,1,0
31605,202112220SAC,"Isaiah Hartenstein, Reggie Jackson, Luke Kenna...",89,95.5,0.471,15.1,15.9,0.106,93.2,0,...,0,1,0,0,0,0,0,1,0,0
31606,202112260LAC,"Paul George, Isaiah Hartenstein, Reggie Jackso...",103,99.8,0.489,12.3,20.8,0.105,103.2,0,...,0,0,0,0,0,0,0,0,1,0
31607,202112270LAC,"Nicolas Batum, Paul George, Isaiah Hartenstein...",124,99.5,0.642,12.0,20.0,0.125,124.7,0,...,0,0,0,0,0,0,0,0,1,1

Our third NF database has 4 table (entities)

In [31]:
nba_game

            game_id   game_date  OT
0      202204100BRK  2022-04-10   0
25     202204100CHO  2022-04-10   0
52     202204100CLE  2022-04-10   0
77     202204100DAL  2022-04-10   0
103    202204100DEN  2022-04-10   1
...             ...         ...  ..
19708  202110300MIN  2021-10-30   0
19726  202112150DEN  2021-12-15   0
19748  202202010MIN  2022-02-01   0
20615  202203270BOS  2022-03-27   0
20679  202112270MIN  2021-12-27   0

[1230 rows x 3 columns]

In [33]:
nba_player

                  player  player_id
0      Tyrese Haliburton  halibty01
1            Buddy Hield  hieldbu01
2         Oshae Brissett  brissos01
3         Isaiah Jackson  jacksis01
4         T.J. McConnell  mccontj01
...                  ...        ...
31515     Marcus Garrett  garrema01
31535     Mario Chalmers  chalmma01
31538        Aric Holman  holmaar01
31540         Jay Scrubb  scrubja01
31590      Jason Preston  prestja01

[621 rows x 2 columns]

In [34]:
nba_team_game

,Team_Abbrev,Opponent_Abbrev,game_id,H_A,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_orb_pct,Team_ft_rate,Team_off_rtg
0,IND,BRK,202204100BRK,A,126,103.9,0.543,5.9,20.8,0.125,121.3
12,BRK,IND,202204100BRK,H,134,103.9,0.691,17.9,29.6,0.272,129.0
25,WAS,CHO,202204100CHO,A,108,97.7,0.489,8.7,31.5,0.170,110.5
37,CHO,WAS,202204100CHO,H,124,97.7,0.640,15.2,29.7,0.112,126.9
52,MIL,CLE,202204100CLE,A,115,101.9,0.511,10.5,17.4,0.284,112.9
...,...,...,...,...,...,...,...,...,...,...,...
21491,MIN,DAL,202112190MIN,H,111,91.8,0.565,9.0,15.0,0.312,120.9
21492,MIN,DAL,202112210DAL,A,102,93.9,0.538,16.2,20.9,0.215,108.6
21629,MIN,NYK,202112280MIN,H,88,93.1,0.441,9.6,20.4,0.153,94.5
21708,MIN,UTA,202112230UTA,A,116,102.1,0.530,11.6,30.0,0.089,113.7
21709,MIN,BOS,202112270MIN,H,108,99.0,0.522,12.5,22.4,0.156,109.1

In [35]:
nba_player_game

,game_id,Inactives,Opponent_Score,Opponent_pace,Opponent_efg_pct,Opponent_tov_pct,Opponent_orb_pct,Opponent_ft_rate,Opponent_off_rtg,starter,...,trb,ast,stl,blk,tov,pf,pts,plus_minus,did_not_play,is_inactive
0,202204100BRK,"Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...",134,103.9,0.691,17.9,29.6,0.272,129.0,1,...,4,10,2,0,1,0,17,-9,0,0
1,202204100BRK,"Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...",134,103.9,0.691,17.9,29.6,0.272,129.0,1,...,3,6,3,0,2,3,21,0,0,0
2,202204100BRK,"Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...",134,103.9,0.691,17.9,29.6,0.272,129.0,1,...,8,3,1,0,0,5,28,-9,0,0
3,202204100BRK,"Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...",134,103.9,0.691,17.9,29.6,0.272,129.0,1,...,3,0,2,1,2,5,7,3,0,0
4,202204100BRK,"Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...",134,103.9,0.691,17.9,29.6,0.272,129.0,1,...,3,5,3,0,0,3,14,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31603,202201130NOP,"Paul George, Isaiah Hartenstein, Keon Johnson,...",113,97.0,0.515,5.5,24.1,0.134,116.5,0,...,3,0,0,0,2,2,3,-4,0,0
31604,202201150SAS,"Paul George, Keon Johnson, Luke Kennard, Kawhi...",101,92.7,0.476,12.9,31.3,0.265,109.0,0,...,0,0,0,0,0,0,0,0,1,0
31605,202112220SAC,"Isaiah Hartenstein, Reggie Jackson, Luke Kenna...",89,95.5,0.471,15.1,15.9,0.106,93.2,0,...,0,1,0,0,0,0,0,1,0,0
31606,202112260LAC,"Paul George, Isaiah Hartenstein, Reggie Jackso...",103,99.8,0.489,12.3,20.8,0.105,103.2,0,...,0,0,0,0,0,0,0,0,1,0
31607,202112270LAC,"Nicolas Batum, Paul George, Isaiah Hartenstein...",124,99.5,0.642,12.0,20.0,0.125,124.7,0,...,0,0,0,0,0,0,0,0,1,1

In [37]:
nba_db =sqlite3.connect("nba.db")

In [48]:
# NBA games table in nba_db
nba_game.to_sql('games', nba_db, index=False, chunksize=1000, if_exists='replace')
nba_player_game.to_sql('player_game', nba_db, index=False, chunksize=1000, if_exists='replace')
nba_player.to_sql('players', nba_db, index=False, chunksize=1000, if_exists='replace')
nba_team_game.to_sql('team_games', nba_db, index=False, chunksize=1000, if_exists='replace')

2460

In [50]:
myquery = '''
SELECT *
FROM team_games
WHERE Team_Abbrev = 'CLE'
'''

pd.read_sql(myquery, nba_db)

,Team_Abbrev,Opponent_Abbrev,game_id,H_A,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_orb_pct,Team_ft_rate,Team_off_rtg
0,CLE,MIL,202204100CLE,H,133,101.9,0.644,9.0,23.3,0.128,130.5
1,CLE,BRK,202204080BRK,A,107,89.6,0.537,8.0,23.8,0.232,119.4
2,CLE,ORL,202204050ORL,A,115,96.8,0.581,10.3,20.5,0.174,118.8
3,CLE,PHI,202204030CLE,H,108,95.0,0.545,8.9,15.6,0.295,113.7
4,CLE,NYK,202204020NYK,A,119,92.1,0.636,9.1,19.4,0.198,129.2
...,...,...,...,...,...,...,...,...,...,...,...
77,CLE,WAS,202112300WAS,A,93,94.2,0.470,11.4,17.8,0.181,98.7
78,CLE,ATL,202112310CLE,H,118,93.2,0.619,8.7,21.1,0.167,126.7
79,CLE,IND,202201020CLE,H,108,92.8,0.500,7.4,28.6,0.227,116.4
80,CLE,NOP,202201310CLE,H,93,88.5,0.482,9.1,16.7,0.143,105.0
81,CLE,HOU,202202020HOU,A,104,97.2,0.556,15.6,29.3,0.188,107.0

In [55]:
nba_player_game.columns

Index(['game_id', 'Inactives', 'Opponent_Score', 'Opponent_pace',
       'Opponent_efg_pct', 'Opponent_tov_pct', 'Opponent_orb_pct',
       'Opponent_ft_rate', 'Opponent_off_rtg', 'starter', 'mp', 'fg', 'fga',
       'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'plus_minus',
       'did_not_play', 'is_inactive'],
      dtype='object')